deepspeed==0.6.5
fairscale==0.4.8
ftfy==6.1.1
GPUtil==1.4.0
einops==0.4.1
ipympl==0.9.1
itk==5.2.1.post1
jupyter==1.0.0
monai==0.9.1
neptune-client==0.16.5
numpy==1.23.1
pandas==1.4.3
performer-pytorch==1.1.4
plotly==5.10.0
pycocoevalcap==1.2
pycocotools==2.0.4
pytorch-lightning==1.7.1
pytorch-lightning-bolts==0.3.2.post1
ray==1.13.0
# ray-lightning==0.2.0
rich==12.5.1
ruamel.yaml==0.17.21
scikit-learn==1.1.2
scipy==1.9.0
sentence-transformers==2.2.2
SimpleITK==2.1.1.2
timm==0.6.7
tokenizers==0.12.1
torch==1.12.1
torchmetrics==0.9.3
torchvision==0.13.1
tqdm==4.64.0
transformers==4.21.1
wurlitzer==3.0.2
yacs==0.1.8
